@page "/"
<button onclick="returnArrayAsync()">
    Trigger .NET static method
</button>
<MainLayoutPanel></MainLayoutPanel>



@code {
    [JSInvokable]
    public static Task<int[]> ReturnArrayAsync()
    {
        return Task.FromResult(new int[] { 1, 2, 3 });
    }
}