<div class="MainLayoutPanel">
    <div class="TopLeft"><DropFilesPanel></DropFilesPanel></div>
    <div class="TopMiddle">2</div>
    <div class="TopRight">3</div>
    <div class="BottomLeft">4</div>
    <div class="BottomMiddle">5</div>
    <div class="BottomRight">6</div>
</div>

@code {

}
